@model IEnumerable<RestaurantManagementSystem.Application.DTOs.Reservation.ReservationDto>

@{
    ViewData["Title"] = "Reservations";
}

<h2>Reservations</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.TableId)</th>
            <th>@Html.DisplayNameFor(model => model.PartySize)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => item.ReservationDateTime)</td>
                <td>@Html.DisplayFor(modelItem => item.TableId)</td>
                <td>@Html.DisplayFor(modelItem => item.PartySize)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>